@using StockBrain.Domain.Models
@using StockBrain.Domain.Models.Enums
@using StockBrain.WebApp.Components.Pages.AssetPages


<RadzenStack Gap="0">
	<RadzenRow RowGap="0">
		<SBLabelCol Size="2" Title="Atual" Text="@Group.DeltaInvested.Final.MonetaryFormat()" />
		<SBLabelCol Size="2" Title="Investido" Text="@Group.DeltaInvested.Initial.MonetaryFormat()" />
		<SBLabelCol Size="2" Title="Delta" Text="@Group.DeltaInvested.Difference.MonetaryFormat()" />
		<SBLabelCol Size="2" Title="Evolução" Text="@Group.DeltaInvested.Percentage.PercentageFormat()" />
		<SBLabelCol Size="2" Title="Alvo" Text="@Group.Target.Value.MonetaryFormat()" />
	</RadzenRow>
</RadzenStack>
<div class="rz-mt-4">
	<RadzenArcGauge Style="width: 100%; height: 250px;">
		<RadzenArcGaugeScale Step="20" Min="-50" Max="250" MinorStep="2" Radius="1.5" TickPosition=@GaugeTickPosition.Outside Y="0.9" Margin="0">
			<RadzenArcGaugeScaleValue Fill="#6966db" Value=@Group.DeltaInvested.Percentage.ToPercentage(0) ShowValue="true">
				<Template Context="pointer">
					<RadzenStack AlignItems="AlignItems.Center" Gap="0" Style="margin-top: -50%;">
						<RadzenText TextStyle="TextStyle.H5" class="rz-m-0"><strong>@pointer.Value</strong> %</RadzenText>
					</RadzenStack>
				</Template>
			</RadzenArcGaugeScaleValue>
		</RadzenArcGaugeScale>
	</RadzenArcGauge>
</div>

<RadzenDataGrid PagerHorizontalAlign="HorizontalAlign.Left" Data="@Assets" ColumnWidth="100px" >
	<Columns>
		<RadzenDataGridColumn Title="Ticker" TextAlign="TextAlign.Center">
			<Template Context="asset">
				<RadzenButton Variant="Variant.Text" Click=@(args => Dialogs.PortfolioAsset(asset)) Text="@asset.Asset.Asset.Ticker" ButtonStyle="ButtonStyle.Primary" />
			</Template>
		</RadzenDataGridColumn>
		<RadzenDataGridColumn Title="Sinal" TextAlign="TextAlign.Center">
			<Template Context="asset">
				@if (asset.Asset.DeltaTotal.Difference >= 0)
				{
					<RadzenIcon Icon="arrow_circle_up" IconColor="@Colors.Success" />
				}
				else
				{
					<RadzenIcon Icon="arrow_circle_down" IconColor="@Colors.Danger" />
				}

			</Template>
		</RadzenDataGridColumn>
		<RadzenDataGridColumn Title="Nome" TextAlign="TextAlign.Center" Width="150px">
			<Template Context="asset">
				@asset.Asset.Asset.Name
			</Template>
		</RadzenDataGridColumn>
		<RadzenDataGridColumn Title="QTD" TextAlign="TextAlign.Center">
			<Template Context="asset">
				<RadzenText TextAlign="TextAlign.Right">@asset.Asset.Quantity</RadzenText>				
			</Template>
		</RadzenDataGridColumn>
		<RadzenDataGridColumn Title="Preço" TextAlign="TextAlign.Center">
			<Template Context="asset">
				<RadzenText TextAlign="TextAlign.Right">@asset.Asset.Asset.MarketPrice.Value.MonetaryFormat()</RadzenText>
			</Template>
		</RadzenDataGridColumn>
		<RadzenDataGridColumn Title="Preço Médio" TextAlign="TextAlign.Center">
			<Template Context="asset">
				<RadzenText TextAlign="TextAlign.Right">@asset.Asset.AveragePrice.MonetaryFormat()</RadzenText>
			</Template>
		</RadzenDataGridColumn>
		<RadzenDataGridColumn Title="Evolução" TextAlign="TextAlign.Center">
			<Template Context="asset">
				<RadzenText TextAlign="TextAlign.Right">@asset.Asset.DeltaTotal.Percentage.PercentageFormat()</RadzenText>
			</Template>
		</RadzenDataGridColumn>
		<RadzenDataGridColumn Title="Resultado" TextAlign="TextAlign.Center" Width="150px">
			<Template Context="asset">
				<RadzenText TextAlign="TextAlign.Right">@asset.Asset.DeltaTotal.Difference.MonetaryFormat()</RadzenText>
			</Template>
		</RadzenDataGridColumn>
		<RadzenDataGridColumn Title="Nota" TextAlign="TextAlign.Center">
			<Template Context="asset">
				<RadzenText TextAlign="TextAlign.Right">@asset.Asset.Points()</RadzenText>
			</Template>
		</RadzenDataGridColumn>
		<RadzenDataGridColumn Title="Alvo" TextAlign="TextAlign.Center" Width="150px">
			<Template Context="asset">
				<RadzenText TextAlign="TextAlign.Right">@asset.Target.Value.MonetaryFormat()</RadzenText>
			</Template>
		</RadzenDataGridColumn>
		<RadzenDataGridColumn Title="Percentual" TextAlign="TextAlign.Center">
			<Template Context="asset">
				<RadzenText TextAlign="TextAlign.Right">@asset.Target.Proportion.PercentageFormat()</RadzenText>
			</Template>
		</RadzenDataGridColumn>
		<RadzenDataGridColumn Title="Investido" TextAlign="TextAlign.Center" Width="150px">
			<Template Context="asset">
				<RadzenText TextAlign="TextAlign.Right">@asset.Asset.InvestedValue.MonetaryFormat()</RadzenText>
			</Template>
		</RadzenDataGridColumn>
		<RadzenDataGridColumn Title="Valor Atual" TextAlign="TextAlign.Center" Width="150px">
			<Template Context="asset">
				<RadzenText TextAlign="TextAlign.Right">@asset.Asset.CurrentValue.MonetaryFormat()</RadzenText>
			</Template>
		</RadzenDataGridColumn>
		<RadzenDataGridColumn Title="Valor Alvo" TextAlign="TextAlign.Center" Width="150px">
			<Template Context="asset">
				<RadzenText TextAlign="TextAlign.Right">@asset.Target.Value.MonetaryFormat()</RadzenText>
			</Template>
		</RadzenDataGridColumn>
		<RadzenDataGridColumn Title="Delta Alvo" TextAlign="TextAlign.Center" Width="150px">
			<Template Context="asset">
				<RadzenText TextAlign="TextAlign.Right">@asset.DeltaTarget.Difference.MonetaryFormat()</RadzenText>
			</Template>
		</RadzenDataGridColumn>
	</Columns>
</RadzenDataGrid>


@code {
	[Inject]
	Dialogs Dialogs { get; set; }
	[Parameter]
	public Portfolio Portfolio { get; set; }
	[Parameter]
	public AssetType AssetType { get; set; }
	IEnumerable<PortfolioAssetDetail> Assets => Portfolio.Assets.Where(a => a.Asset.Asset.Type == AssetType);
	PortfolioAssetGroup Group => Portfolio.Types[AssetType]; 

}